version: 2
jobs:
  pr_check:
    docker:
      - image: circleci/node:10.19.0
    steps:
      - checkout
      - run:
          name: Install the dependencies 
          command: 'npm install'
      - run: 
          name: run the unit test
          command: 'npm test' 

  setupSQLImage:
    docker:
      - image: circleci/php:7.1-apache-node-browsers # The primary container where steps are run
      - image: circleci/mysql:8.0.4
        environment:
          MYSQL_ROOT_PASSWORD: rootpw
          MYSQL_DATABASE: test_db
          MYSQL_USER: user
          MYSQL_PASSWORD: passw0rd

    steps:
      - checkout
      - run:
      # Our primary container isn't MYSQL so run a sleep command until it's ready.
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run:
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            sudo apt-get update
            sudo apt-get install default-mysql-client

  build:
    docker:
      - image: circleci/node:10.19.0
    steps:
      - checkout
      - run:
          name: Installing NPM
          command: 'npm install' 
      - run: 
          name: run the unit test
          command: 'npm test' 


workflows:
  version: 2
  pr-check:
    jobs:
    - setupSQLImage
    - pr_check
    
  build:

    jobs:
    - build:
        filters:
          branches:
            only: master
    # - deploy:
    #     filters:
    #       branches:
    #         only: master            